
AdivinaQue.Host/AdivinaQue.Host/obj/Debug/AdivinaQue.Host.pdb
AdivinaQue.Host/AdivinaQue.Host/obj/Debug/AdivinaQue.Host.exe
*.cache
*.cache
*.exe
AdivinaQue.Host/.vs/AdivinaQue.Host/v16/.suo
AdivinaQue.Host/AdivinaQue.Host/obj/Debug/AdivinaQue.Host.csproj.FileListAbsolute.txt
*.cache
*.pdb
*.dll
AdivinaQue.Client/AdivinaQue.Client/bin/Debug/Resources_es-MEX.dll
AdivinaQue.Client/AdivinaQue.Client/bin/Debug/AdivinaQue.Client.exe
*.pdb
*.cache
*.cache
AdivinaQue.Host/.vs/AdivinaQue.Host/v16/.suo
*.pb
*.json
*.dll
*.lref
