<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9090/Service/Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
                contract="Proxy.IService" name="NetTcpBinding_IService">
                <identity>
                    <userPrincipalName value="DESKTOP-A884PK0\kari" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>