<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>  
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />  
  </configSections>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="AdivinaQue.Client" closeTimeout="00:11:00" openTimeout="00:11:00"
                    receiveTimeout="00:11:00" sendTimeout="00:11:00" />
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9090/Service/Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
                contract="Proxy.IService" name="NetTcpBinding_IService">
                <identity>
                    <userPrincipalName value="DESKTOP-GH4KAPE\Mariana" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
		<log4net>
		<appender name="TestAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Logs\logs.log" />
			<encoding value="utf-8" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd-HHmm" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date &gt; [%logger]{%method} &gt; %level:: %message%n" />
			</layout>
		</appender>
		<root>
			<level value="All" />
			<appender-ref ref="TestAppender" />
		</root>
	</log4net>
	

</configuration>